.nav-item {
  background: #e8e8e8;
  /* box-shadow: 8px 0px 8px 0px black; */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 8rem;
  text-align: center;
  border-right: 1px solid black;
}
.nav-item .active {
  border-top-left-radius: 4px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.nav-item a {
  color: black;
}
.nav-item a:hover {
  color: black;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .nav-item {
    width: 5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}
